.AppContainer {
    margin-top: 5%;
}

.ApplicantsContainer {
    display: flex; 
    flex-direction: column;
    width: 60%;
    margin-left: 18%;
    margin-top: 2%;
    padding: 1%;
    border: .75px solid rgb(119, 189, 73);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ApplicantsAppAccContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.ApplicantTitle {
    text-align: center;
}
