body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--container-dark);
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './styles/navbar.css'; 
@import './styles/employer/profile.css'; 
@import './styles/employer/applicant.css'; 
@import './styles/employer/post.css'; 
@import './styles/employer/postings.css'; 
@import './styles/employer/search.css'; 
@import './styles/applicant/accepted.css'; 
@import './styles/applicant/applied.css'; 
@import './styles/applicant/jobposts.css'; 
@import './styles/applicant/profile.css'; 

:root {
  --container-dark: white;
  --card-body: rgb(231, 231, 231);
  --buttons: #f3f3f3;
  --color-1: black;
  --color-2: #9c9c9cdd;
  --color-3: #363636dd;
  --submit: #e6e6e6;
  --border-1: rgb(47, 59, 73);
  --border-2: rgb(233, 233, 233);
  --background: linear-gradient(to right top, #ffffff, #fdfdfd, #fafafa, #f8f7f8, #f6f5f5);
  --textArea: rgb(51, 58, 70);
}

.darkmode {
  --container-dark: #161618;
  --card-body: #29272e;
  --buttons: #202020;
  --color-1: white;
  --color-2: #9c9c9cdd;
  --color-3: #ffffffdd;
  --submit: #191919;
  --border-1: rgb(47, 59, 73);
  --border-2: black;
  --background: linear-gradient(#161618, #18181a);
  --textArea: rgb(51, 51, 51);
}
